<ion-list>
  <ng-container *ngIf="asignaciones">
    <ion-list-header>
      Puestos Asignados
    </ion-list-header>
    <ion-item *ngFor="let asignacion of asignaciones">
      <ion-avatar slot="start">
        <img src="./../../assets/img/security.jpg">
      </ion-avatar>
      <ion-label>
        <p>Puesto de Trabajo :</p>
        <h2> {{asignacion.puesto.nombre}}</h2>
        <h3>Provincia: {{asignacion.puesto.provincia.nombre}}</h3>
        <p>- Días: <span *ngFor="let dia of asignacion.dias">{{dia.nombre}}</span>-</p>
        <p *ngIf="asignacion.horario">Horario : {{asignacion.horario.entrada|date: 'HH:mm':'GMT-0500' }} - {{asignacion.horario.salida | date: 'HH:mm':'GMT-0500'}}</p>
      </ion-label>
      <ng-container *ngIf="role == 'ROLE_GUARDIA'">
        <ion-badge slot="end" color="danger" [routerLink]="['/guardia', asignacion.puesto.id]">
          ENTRAR
        </ion-badge>
      </ng-container>
      <ng-container *ngIf="role == 'ROLE_SUPERVISOR'">
        <ion-badge slot="end" color="primary" [routerLink]="['/supervisor', asignacion.puesto.id]">
          ENTRAR
        </ion-badge>
      </ng-container>

    </ion-item>
  </ng-container>

</ion-list>
