<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Security Demo
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Security Demo</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="container">
    <app-perfil (loaded)="onLoadedPerfil($event)">
    </app-perfil>
  </div>

  <app-cargos [asignaciones]="asignaciones" [role]="role"></app-cargos>

  <ion-footer>
    <ion-item>
      <button (click)="logout()" class="btn btn-danger btn-block">
        Cerrar Sesión
      </button>
    </ion-item>
  </ion-footer>

</ion-content>
