<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="Regresar" defaultHref="home" color="primary"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="row mt-3 mb-3">
    <div class="col">
      <button class="btn  btn-block btn-lg btn-primary" (click)="reporte('E')">
        Reportar Entrada
      </button>
    </div>
  </div>
  <div class="row mt-3 mb-3">
    <div class="col">
      <button class="btn  btn-block btn-lg btn-primary" (click)="reporte('S')">
        Reportar Salida
      </button>
    </div>
  </div>
  <div class="row mt-3 mb-3">
    <div class="col">
      <button class="btn  btn-block btn-lg btn-primary" (click)="reporte('N')">
        Reportar Novedad
      </button>
    </div>
  </div>
  <div class="row mt-3 mb-3">
    <div class="col">
      <button class="btn  btn-block btn-lg btn-primary" (click)="reporte('C')">
        Reportar Consigna
      </button>
    </div>
  </div>
  <div class="row mt-3 mb-3">
    <div class="col">
      <button class="btn  btn-block btn-lg btn-primary" (click)="reporte('R')">
        Reportar Recomendación
      </button>
    </div>
  </div>
</ion-content>
