<div class="row mt-3 mb-3">
  <div class="col">
    <button class="btn  btn-block btn-lg btn-primary" (click)="entrada()">
      Reportar Entrada
    </button>
  </div>
</div>
<div class="row mt-3 mb-3">
  <div class="col"><button class="btn  btn-block btn-lg btn-primary">Reportar</button></div>
</div>
<div class="row mt-3 mb-3">
  <div class="col"><button class="btn  btn-block btn-lg btn-warning">Reportar</button></div>
</div>
<div class="row mt-3 mb-3">
  <div class="col"><button class="btn  btn-block btn-lg btn-warning">Reportar</button></div>
</div>
<div class="row mt-3 mb-3">
  <div class="col"><button class="btn  btn-block btn-lg btn-info">Reportar</button></div>
</div>
<div class="row mt-3 mb-3">
  <div class="col"><button class="btn  btn-block btn-lg btn-info">Reportar</button></div>
</div>
<div class="row mt-3 mb-3">
  <div class="col"><button class="btn  btn-block btn-lg btn-danger">Reportar</button></div>
</div>
<div class="row mt-3 mb-3">
  <div class="col"><button class="btn  btn-block btn-lg btn-danger">Reportar</button></div>
</div>
